<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAd7LmuseqZ4esz9ryXBWEwIP649gOcz5I</string>
	<key>GCM_SENDER_ID</key>
	<string>1097885486130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.terzaSpiaggiaWeb</string>
	<key>PROJECT_ID</key>
	<string>terza-spiaggia-flutton</string>
	<key>STORAGE_BUCKET</key>
	<string>terza-spiaggia-flutton.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097885486130:ios:f50f166f81a07a1d92402b</string>
</dict>
</plist>